.logo
{
    width:100px ;
    height: 100px;
    -webkit-border-radius:50px;
    -moz-boder-radius:50px;
    border-radius:50px;
    overflow:hidden;
  }
  .note
  {
      text-align: center;
      height: 80px;
      background: -webkit-linear-gradient(left, #f16821, #f268a9);
      color: #fff;
      font-weight: bold;
      line-height: 80px;
  }
  .form-content
  {
      padding: 5%;
      border: 1px solid #ced4da;
      margin-bottom: 2%;
  }
