.searchbar{
         list-style-type:none;
         border:1px solid #f16d28;background:#fff;
         display:none;
         margin-top:-16px;
         border-top:none;
        }
.searchbar li:hover{
                   background:no-repeat #f16d28;
                   }
                   .searchbar li{
                     padding: 0 15px;
                     line-height:25px;
                     margin-left: -40px;
                   }
                   .note
                   {
                       text-align: center;
                       height: 80px;
                       background: -webkit-linear-gradient(left, #f16821, #f268a9);
                       color: #fff;
                       font-weight: bold;
                       line-height: 80px;
                   }
                   .form-content
                   {
                       padding: 5%;
                       border: 1px solid #ced4da;
                       margin-bottom: 2%;
                   }
